<%#= form_for (@comment, :url => product_comment_path(@product)) do |f| %> <!--, :remote => true -->
<%= form_for([@product, @comment], :remote => true) do |f| %> 
  <div class="field">
    <%#= @comment.user_id.inspect %>
    <%= f.text_area :content, :rows => 5 %><br />
    <%= f.hidden_field :user_id %> <br />
    <%#= f.label :product_id %>    
    <%#= f.input :content, :rows => 6%>
    <%# f.text_field :user_id => current_user.id %>
    <%#= f.input :product_id %>
  </div>
  <div class="actions">
    <%#= f.button: submit %>
    <%= f.submit "Add comment" %>
  </div>
<% end %>
