/*Insert a notice between the last comment and the comment form */
$("#comment-notice").html('<div class="flash-notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
/* Replace the count of comments */	
$("#comments_count").html("<%= pluralize(@product.comments.count, 'Comment') %>");
$('#comments').prepend('<%= escape_javascript(render(@comment)) %>');
$('#comments > span:first').effect('highlight', {}, 3000);
$('#comment_form > form')[0].reset();
