body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
body, p, ol, ul, td{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}


a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #F00000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}


.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.home_main{
  width: 965px;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.home_bg_left{
  width: 15%;
  vertical-align:top;
  margin-left: 0px;
}
.home_bg_right{
  width: 15%;
  vertical-align:top;
  margin-right: 0px;
}

#container{
  margin-top: 1px;
  margin-bottom: 5px;
  min-height: 500px;
  max-height: 100%; 
}
.content
{
  background-color: #FFFFF0;
  border: solid 1px black;  
  
}


.index-items {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   15px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  
}
.index-items td, tr {  
  border: solid;
  text-align: center;
  
}

.show-item{
  margin-left:auto;
  margin-right:auto;
  
}


#footer{
  width: auto;
  height: 60px;
  margin-bottom: 100px;
  
}

.footer-main{  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}