#header {
  width: 965px;
  height: 135px;
}
#header .header-top {
background: black url(/images/header/header.jpg?) repeat-x;
width: 100%;
height: 95px;
float: left;
}
#header .header-main {
background: #F97D3B url(/images/header/bg-menu.png) repeat-x top;
width: 100%;
height: 40px;
float: left;
}

#user_nav{
  float: right;
  font-family: tahoma;
  font-size: 11pt;  
  color: blue;
  padding: 5px 8px 5px 0; 
}
#menubar {
  width: 965px;
  height: 40px;
}
#menu-items li
{	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
	margin-right: 10px;
	/*background: url('/images/menu_bg.png');*/
}
#menu-items li a
{
    display: block;
	
	white-space: nowrap;
	text-align: center; 
	
	padding-top: 2px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	margin-right: 13px 0px;
}
#menu-items li ul
{	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
}
#menu-items li ul li
{	float: none;
	display: block;
	margin: 2px;
    
}
#menu-items li ul li a
{	width: auto;
	background: #69F1B1;
	text-align: left;
	margin: 0px; 
}
#menu-items li ul li a:hover
{
	background: #7F1616
}

#menu-items .menu-item{
    color: #EEE;
    display: block;
    font-size: 15px;
    height: 25px;
    padding-right: 5px;
    padding-left: 5px;
}
/*
#menu-items .menu-item a:hover{
    color: #F00EEE;
    background: #7F1616;
}
*/
#menubar a { color: #F00000; }
#menubar a:visited { color: #666; }
#menubar a:hover { color: #fff000; background-color:#7F1616; }



